<h2>Welcome to Freemarker Test page</h2>



<table class="datatable">
	<tr>
		<th>Make</th>
		<th>Model</th>
	</tr>
	
	<#list testList as id, name>
		<tr>
			<td>${id}</td>
			<td>${name}</td>
		</tr>
	</#list>
	
</table>